@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
* {
  font-family: 'Nunito', sans-serif;
      padding: 0;
    margin: 0;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.navbar-1 {
  max-width: 80%;
  margin: 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-1 ul {
    font-size: 16px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    outline: none;
    gap: 50px;
}

span {
    color: #993399 ;
}

.logo h3 {
    font-weight: 700;
}

.whatsapp-btn {
    text-decoration: none;
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  


  .img img {
    width: 100%;
    margin-top: 20px;
  }

  .p1 {
    font-weight: bold;
    color: #35404e;
  }

  .col-6 h1 {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .p2 {
    margin-top: 20px;
    color: #8492a6;
    font-size: 17px;
  }

  .contato-btn {
    background-color: #8A05BE;
    color: #fff;
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;

  }
  
  .section1 {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }

  .section2 {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    height: 750px;
  }

  .section3 {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    height: 450px;
  }

  .section4 {
    max-width: 80%;
    
    margin: 0 auto;
    width: 100%;
    height: 600px;
  }

  .contato-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
  }

 .row-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .col-4 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  #card {
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    width: 380px;
    transition: background-color 0.5s ease;
    background-color: #8A05BE;
    color: #fff;
    transition:0.2s ease-in-out;
  }
  
  #card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  #card:hover {
    background-color: #8A05BE;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Valores ajustáveis */
  }

  #card h3 {
    color: #fff;
  }
  
  #card:hover h3,
  #card:hover p {
    color: #fff;
  }
  
  .services h3 {
    margin-top: 50px;
  }

  .services h2 {
    font-weight: 700;
    margin-bottom: 50px;
  }

  .card1 {
    display: flex;
    justify-content: flex-start;
  }

  .card2 {
    display: flex;
    justify-content: center;
  }

  .card3 {
    display: flex;
    justify-content: flex-end;
  }

  .background {
    height: 100%;
    background-image: url(icons/pattern.svg);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Define a posição central da imagem */
    background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
  }


  .titulo {
    color: #fff;
    padding-top: 70px;
  }

  .titulo-time {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    padding-top: 70px;
  }

  .sub-titulo {
    color: #fff;
  }
  .sub-titulo-contato {
    color: #fff;
    font-size: 25px;
  }

  .background1 {
    height: 100%;
  }

  .background-quemsomos {
    height: 100%;
    background-image: url(icons/bg-quemsomos.png);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Define a posição central da imagem */
    background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
  }
  

  .nubank-address-card {
    background-color: #8A05BE;
    color: #FFFFFF;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 35px;
  }


  
  



 